<section class="py-16 pt-20 text-center">
  <h1 class="text-5xl font-bold text-stone-200">Hygge</h1>
</section>

<section class="feed container">
  {{#each stacks as |stack|}}
    <div class="card-stack">
      <div class="card card-placeholder"></div>
      <div class="card card-placeholder"></div>
      <div class="card card-placeholder"></div>
    </div>
  {{/each}}
</section>
<div class="feed-overlay"></div>

<section class="stack">
  <div class="card card-placeholder"></div>
  <div class="card card-placeholder"></div>
  <div class="card card-placeholder"></div>
  <div class="card card-placeholder"></div>
  <div class="card card-placeholder"></div>
  <div class="card card-placeholder"></div>
  <div class="card card-placeholder"></div>
  <div class="card card-placeholder"></div>
</section>